
*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding:0;
}
canvas{
    width:100%;
    height:100%;
    
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title{
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.sub-title{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
h1{
    display:flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    color:#C0C0C0;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 10px;
    animation-duration: 9s;
    animation-iteration-count: 1;
}
h2{
    display:flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    color:#C0C0C0;
    font-size: 2rem;
    margin-top: 40rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 50px;
    animation-duration: 9s;
    animation-iteration-count: 1;
  
}

@media only screen and (max-width: 768px) and (orientation : portrait) {

    h1{
        font-size: 2rem;
      
    }

    h2{
        font-size: 1.5rem;
        letter-spacing:10px;
        margin-top:40rem;
        transform: none;
        
    }
}

@media only screen and (max-width: 748px) and (orientation : landscape) {
    h1{
        font-size: 1rem;
        margin-left: auto;
    }

    h2{
        font-size: 1rem;
        letter-spacing:10px;
        margin-top:22rem;
        transform: none;
        margin-left: auto;
        margin-right:auto;
    }

}

@media only screen and (max-width: 667px) and (orientation : landscape){
    h1{
        font-size: 1.5rem;
      
    }

    h2{
        font-size: 1rem;
        letter-spacing:10px;
        margin-top:18rem;
        transform: none;
        
    }

}

@media only screen and (max-width: 380px) and (orientation : portrait){
    h1{
        font-size: 1.5rem;
      
    }

    h2{
        font-size: 1rem;
        letter-spacing:10px;
        margin-top:35rem;
        transform: none;
        
    }

}
